{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <h1>ERORR 500 Iekšējā servera kļūme.</h1>
        <p>Mēģini velreiz vēlāk.</p>
    </div>
{% endblock content %}
