{% extends "base.html" %}
{% block content %}
<div class="content-section p-3">
	<legend class="border-bottom mb-4">I.Kuzmas ĢĀP</legend>
	<p>Ilzes Kuzmas ģimenes ārsta prakse sniedz medicīniskās palīdzības ambulatorā pakalpojumus, tā tika dibināta 199X gadā. Sobrīd apgādā ap 1700 pacentus no visām vecumu grupām.</p>
	<legend class="border-bottom mb-4">Addrese</legend>
	<p>Alejas iela 8, Kocēni, Kocēnu pagasts, Kocēnu novads, Latvia, LV-4220, Tel. Nr. 64229093</p>
	<img class="w-100" src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fwww.valmieraszinas.lv%2Fwp-content%2Fuploads%2F2020%2F05%2Fkocenu-domes-eka-renovacija-autors-pasvaldiba.jpg&sp=1593125214T9107725036c6b0745ae95b92e3e01fdd7ad1487d31a69a8f81787ce078141ac0">
</div>
{% endblock content %}
