<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

		{% if title == 'Par' %}
			<title>{{ title }} I.Kuzmas ĢĀP</title>
		{% else %}
			<title>I.Kuzmas ĢĀP {{ title }}</title>
		{% endif %}
</head>
<body>
	<nav class="navbar-dark fixed-top" style="background-color:#0088FF">
	 	<div role="main" class="navbar-expand container pb-2 pt-2">
			<div class="row pl-3 pr-3">
				<div class="row container m-0 p-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item pl-2">
							<a class="nav-link {% if title=='Par' %} active {% endif %} mr-auto" href="{{ url_for('main.about') }}">Par Mums</a>
						</li>
						<li class="nav-item pl-2">
							<a class="nav-link {% if title=='Kontakti' %} active {% endif %}" href="{{ url_for('main.contact') }}">Kontakti</a>
						</li>
					</ul>
				</div>
			</div>
	 	</div>
	</nav>
	<main class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</main>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
