{% extends "base.html" %}
{% block content %}
<article class="content-section p-3 d-flex">
	<img class="rounded-circle article-img" style="width:100px; height:100px; object-fit:cover; object-position:top" src="https://scontent.frix7-1.fna.fbcdn.net/v/t31.0-1/p160x160/13584891_103725086731208_108092937553999276_o.jpg?_nc_cat=100&_nc_sid=dbb9e7&_nc_oc=AQnn3q0BWfWiwqDCdLcFNpuStXXIR4zycN8bB3NfkhOsE7JuKnyNbMn6E7vatct2x8o&_nc_ht=scontent.frix7-1.fna&_nc_tp=6&oh=7709459cefcfe74f65e5d20619c4dc31&oe=5F1BE36A">
	<div class="w-100">
		<legend class="border-bottom mb-1">Ilze Kuzma</legend>
		<p class="mb-1">Profesija: Ārsts</p>
		<p class="mb-1">Mob. Tel. 29143091</p>
		<p class="mb-1">E-pasts: ilze.kuzma@gmail.com</p>
	</div>
</article>
<article class="content-section p-3 d-flex">
	<img class="rounded-circle article-img" style="width:100px; height:100px; object-fit:cover; object-position:top" src="http://www.koceni.lv/_/rsrc/1548764499305/dome/priekssedetajs-deputati/Sarmi%CC%84te_Brac%CC%8Cka.jpg?height=400&width=266">
	<div class="w-100">
		<legend class="border-bottom mb-1">Sarmīte Bračka</legend>
		<p class="mb-1">Profesija: Ārsta palīgs</p>
		<p class="mb-1">Mob. Tel. 29466623</p>
		<p class="mb-1">E-pasts: sarmite.bracka@kocenunovads.lv</p>
	</div>
</article>
<article class="content-section p-3 d-flex">
	<img class="rounded-circle article-img" style="width:100px; height:100px; object-fit:cover; object-position:top" src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Fdailytimes.com.pk%2Fassets%2Fuploads%2F2018%2F07%2F08%2FNo-pics.jpg&sp=1593125052Tbabc1ccc9ee1f0f860840afc2a3d4809a916cbbbdd8e63fd6e135021a93f4ed9">
	<div class="w-100">
		<legend class="border-bottom mb-1">Ināra Malceniece</legend>
		<p class="mb-1">Profesija: Ārsta palīgs</p>
		<p class="mb-1">Mob. Tel. 29296591</p>
	</div>
</article>
<div class="content-section">
	<form class="container" method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group mb-1 row">
			<legend class="border-bottom mb-4">Sazināties caur E-pastu</legend>

			<div class="row">
				<div class="form-group col-sm-6 col-lg-5 col-xl-4">
					{{ form.name.label(class="form-control-label mb-1") }}
					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg is-invalid p-1") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.name(class="form-control form-control-lg p-1") }}
					{% endif %}
				</div>
				<div class="form-group col-sm-6 col-lg-5 col-xl-4">
					{{ form.title.label(class="form-control-label mb-1") }}
					{% if form.title.errors %}
						{{ form.title(class="form-control form-control-lg is-invalid p-1") }}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.title(class="form-control form-control-lg p-1") }}
					{% endif %}
				</div>
				<div class="form-group col-sm-12 col-lg-10 col-xl-8">
					{{ form.content.label(class="form-control-label mb-1") }}
					{% if form.content.errors %}
						{{ form.content(class="form-control form-control-lg is-invalid p-1") }}
						<div class="invalid-feedback">
							{% for error in form.content.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.content(class="form-control form-control-lg p-1", rows="4") }}
					{% endif %}
				</div>
			</div>
			
		</fieldset>
		<div class="form-group row">
				{{ form.submit(class="btn btn-outline-info", value="Nosūtīt") }}
		</div>
	</form>
</div>
{% endblock content %}
